POSTGRES_USER=password
POSTGRES_PASSWORD=password
POSTGRES_DB=db
PGPORT=0000
DATABASE_URL=://

REDIS_PASSWORD=password
REDIS_HOST=host
REDIS_PORT=0000

PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
*some key*
-----END PRIVATE KEY-----"
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
*some key*
-----END PUBLIC KEY-----"